codex/.tmp/
codex/artifacts
cdx-artifacts/*
!cdx-artifacts/.keep
codex/auth.json
codex/cache/
codex/models_cache.json
codex/history*
codex/installation_id
codex/log*
codex/rules/
codex/session*
codex/shell_snapshots/
codex/skills/.system/
codex/state*
codex/tmp/
codex/version.json
nvim/thesaurus/*.txt
vim/.netrwhist
vim/plugged
yarn/global/node_modules
zsh/secrets.zsh
